{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinite Gallery</title>
    <link rel="stylesheet" href="{% static 'estilos/general.css' %}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <a href="{% url 'paginaPrincipal' %}">
                <img src="{% static 'imagenes/Logo.png' %}" alt="Inicio" class="home-icon">
            </a>
        </div>
        <div class="searching-tool">
            <select id="info-type" class="custom-select custom-select-lg mb-3">
                <option value="" selected disabled>Select info type</option>
                <option value="Artistas">Artistas</option>
                <option value="Obras">Obras</option>
                <option value="Museos">Museos</option>
                <option value="Movimientos">Movimientos</option>
            </select>
        </div>

        <div class="header-icons">
            <!-- Corazón redirige a la página de favoritos -->
            <a href="{% url 'favoritos' %}">
                <img src="{% static 'imagenes/Corazon.png' %}" alt="Favoritos" />
            </a>
            <img src="{% static 'imagenes/notificaciones.png' %}" alt="Notificaciones" />
        </div>
    </header>
    <!-- Main Content -->
    <main class="artist-container">
        <!-- Aside with artist information -->
        <aside class="artist-info">
            <h1>{{ artista.nom_artista }}</h1>
            <h2><strong>Nacionalidad: </strong></h2>
            <p>{{ artista.pais_artista }}</p>
            
            <!-- Biography Section -->
            <div>
                <h2>Biografía</h2>
                <p>{{ artista.biografia }}</p>
            </div>

            <!-- Curiosities Section -->
            <div>
                <h2>Curiosidades</h2>
                <p>{{ artista.curiosidades }}</p>
            </div>
        </aside>

        <!-- Large image display area -->
        <div class="pictures">
            <img src="{% static 'imagenes/default.jpg' %}" id="selected-image">
        </div>

        <!-- Carousel for artworks -->
        <section class="carousel">
            <h2>Obras</h2>
            <div class="carousel-container">
                {% for o in obra %}
                    <a href="{% url 'detalle_obra' id=o.id_obra %}">
                        <div class="obra-img-container">
                            <img src="{{ o.image_path }}" alt="{{ o.nom_obra }}" class="obra-img" onmouseover="showImage('{{ o.image_path }}')">
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
    </main>

    <script>
        function showImage(imagePath) {
            document.getElementById('selected-image').src = imagePath;
        }
    </script>
</body>
</html>
