{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ artista.Nombre }}</title>
    <link rel="stylesheet" href="{% static 'estilos/artista.css' %}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <img src="{% static 'imagenes/Logo.png' %}" alt="Inicio" class="home-icon">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar..." />
            <button>🔍</button>
        </div>
        <div class="header-icons">
            <img src="{% static 'imagenes/Corazon.png' %}" alt="Favoritos" />
            <img src="{% static 'imagenes/notificaciones.png' %}" alt="Notificaciones" />
        </div>
    </header>


    
    <!-- Main Content -->
    <main class="artist-container">
        <aside class="artist-container">
            <div class="artist-info">
                <h1>{{ artista.nom_artista }}</h1>
                <p><strong>Nacionalidad:</strong> {{ artista.pais_artista }}</p>
                
                <!-- Biografía Section -->
                <div class="biography">
                    <h2>Biografía</h2>
                    <p>{{ artista.biografia }}</p>
                </div>
        
                <div class="curiosities">
                    <h2>Curiosidades</h2>
                    <p>{{ artista.curiosidades }}</p>
                </div>
            </div>
          </aside>
        <!-- Carrusel de obras -->
        <section class="carousel">
            <h2>Obras</h2>
            <div class="carousel-container">
                <div class="carousel-track">
                    {% for obra in obra %}
                        <div class="obra-img-container">
                            <img src="{{ obra.image_path }}" alt="{{ obra.nom_obra }}" class="obra-img">
                            <div class="obra-name">{{ obra.nom_obra }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        
    </main>
</body>
</html>
