{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistas</title>
    <link rel="stylesheet" href="{% static 'estilos/principal.css' %}">
    <link rel="stylesheet" href="{% static 'estilos/buscador.css' %}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <a href="{% url 'paginaPrincipal' %}">
                <img src="{% static 'imagenes/Logo.png' %}" alt="Inicio" class="home-icon">
            </a>
        </div>
        {% block content %}
        <div class="buscador">
            <form id="search-form" autocomplete="off" action="{% url 'search' %}">
                {% csrf_token %}
                <input type="text" id="search-input" class="search" placeholder="Buscar obras..">
            </form>
            <div id="results-box" class="results-card not-visible"></div>
        </div>
        {% endblock content %}

        <div class="header-icons">
            <!-- Corazón redirige a la página de favoritos -->
            <a href="{% url 'favoritos' %}">
                <img src="{% static 'imagenes/Corazon.png' %}" alt="Favoritos" />
            </a>
            <img src="{% static 'imagenes/notificaciones.png' %}" alt="Notificaciones" />
        </div>
    </header>

    <!-- Main content -->
    <main>
        <section class="carousel">
            <h2>Artistas</h2>
            <ul class="carousel-container">
                {% for artista in artistas %}
                    <li>
                        <a href="{% url 'detalle_artista' nombre=artista.nombre %}">
                            <div class="artista-img-container">
                                <img src="{{ artista.image_path }}" alt="{{ artista.nombre }}" class="artista-img">
                                <div class="name">{{ artista.nombre }}</div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
