{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - Museo Online</title>
    <link rel="stylesheet" href="{% static 'estilos/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Bienvenido a Infinite Gallery</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" class="{% if error %}input-error{% endif %}" required>
            
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" class="{% if error %}input-error{% endif %}" required>
            
            <button type="submit">Iniciar sesión</button>

            {% if error %}
                <p class="error-message">{{ error }}</p>  <!-- Muestra el mensaje de error -->
            {% endif %}
        </form>
    </div>
</body>
</html>
