{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'estilos/estiloLogin.css' %}">
  <title>Infinite Gallery</title>
</head>
<body>
  <div class="wrapper">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
      <h2>Inicio de sesión</h2>
        <div class="input-field">
        <input type="text" name="username" required>
        <label>Introduce tu usuario</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" required>
        <label>Introduce tu contraseña</label>
      </div>
      {% if messages %}
      <div class="error-messages">
        {% for message in messages %}
        <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
      <button type="submit">Iniciar sesión</button>
      <div class="register">
        <p>¿No tienes cuenta? <a href="{% url 'registro' %}">Registrarse</a></p>
      </div>
    </form>
  </div>

  <script>
    alert( 'Para acceder a esta web, es necesario tener una cuenta registrada. Por favor, regístrate o inicia sesión con tu cuenta existente.' );
  </script>
   
</body>
</html>