{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ obra.0.museo }}</title>
    <link rel="stylesheet" href="{% static 'estilos/general.css' %}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <a href="{% url 'paginaPrincipal' %}">
                <img src="{% static 'imagenes/Logo.png' %}" alt="Inicio" class="home-icon">
            </a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar..." />
            <button>🔍</button>
        </div>
        <div class="header-icons">
            <!-- Corazón redirige a la página de favoritos -->
            <a href="{% url 'favoritos' %}">
                <img src="{% static 'imagenes/Corazon.png' %}" alt="Favoritos" />
            </a>
            <img src="{% static 'imagenes/notificaciones.png' %}" alt="Notificaciones" />
        </div>
    </header>
    
    <!-- Main Content -->
    <main class="artist-container">
        <!-- Museum Information -->
        <aside class="artist-info">
            <h1>{{ museo.nom_museo }}</h1>
            <h2><strong>Ubicación: </strong></h2>
            <p>{{ museo.pais_museo }}</p>
            <div>
                <h2>Historia</h2>
                <!-- COMPLETAR TU  -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Suspendisse potenti. Integer eget diam eu lectus efficitur viverra a non nulla. Proin fermentum, erat vel interdum cursus, ex orci aliquam nunc, et aliquam sapien felis non elit. Donec fringilla, nisl et elementum faucibus, elit urna laoreet nulla, in tincidunt metus quam in ipsum.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Suspendisse potenti. Integer eget diam eu lectus efficitur viverra a non nulla. Proin fermentum, erat vel interdum cursus, ex orci aliquam nunc, et aliquam sapien felis non elit. Donec fringilla, nisl et elementum faucibus, elit urna laoreet nulla, in tincidunt metus quam in ipsum.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Suspendisse potenti. Integer eget diam eu lectus efficitur viverra a non nulla. Proin fermentum, erat vel interdum cursus, ex orci aliquam nunc, et aliquam sapien felis non elit. Donec fringilla, nisl et elementum faucibus, elit urna laoreet nulla, in tincidunt metus quam in ipsum.

                </p>
            </div>
        </aside>


        <!-- Large image display area -->
        <div class="pictures">
            <img src="{% static 'imagenes/default.jpg' %}" id="selected-image">
        </div>

        <!-- Carousel for artworks -->
        <section class="carousel">
            <h2>Obras del museo</h2>
            <div class="carousel-container">
                {% for o in obra %}
                    <div class="obra-img-container">
                        <img src="{{ o.image_path }}" alt="{{ o.nombre }}" class="obra-img" onmouseover="showImage('{{ o.image_path }}')">
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>

    <script>
        function showImage(imagePath) {
            document.getElementById('selected-image').src = imagePath;
        }
    </script>
</body>
</html>
