{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinite Gallery</title>
    <link rel="stylesheet" href="{% static 'estilos/general.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'paginaPrincipal' %}">
                <img src="{% static 'imagenes/Logo.png' %}" alt="Inicio" class="home-icon">
            </a>
        </div>
        {% block content %}
        <div class="buscador">
            <form id="search-form" autocomplete="off" action="{% url 'search' %}">
                {% csrf_token %}
                <input type="text" id="search-input" class="search" placeholder="Buscar obras..">
            </form>
            <div id="results-box" class="results-card not-visible"></div>
        </div>
        {% endblock content %}

        <div class="header-icons">
            <!-- Corazón redirige a la página de favoritos -->
            <a href="{% url 'favoritos' %}">
                <img src="{% static 'imagenes/Corazon.png' %}" alt="Favoritos" />
            </a>
            <img src="{% static 'imagenes/notificaciones.png' %}" alt="Notificaciones" />
        </div>
    </header>
    
    <!-- Main Content -->
    <main class="artist-container">
        <!-- Museum Information -->
        <aside class="artist-info">
            <h1>{{ obra.nombre }}</h1>
            <h2><strong>Pintor: </strong></h2>
            <p>{{ obra.artista }}</p>

            <h2><strong>Ubicación: </strong></h2>
            <p>{{ obra.museo }}</p>

            <h2><strong>Movimiento: </strong></h2>
            <p>{{ obra.epoca }}</p>
            <div>
                <h2>Historia</h2>
                <!-- COMPLETAR TU  -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Suspendisse potenti. Integer eget diam eu lectus efficitur viverra a non nulla. Proin fermentum, erat vel interdum cursus, ex orci aliquam nunc, et aliquam sapien felis non elit. Donec fringilla, nisl et elementum faucibus, elit urna laoreet nulla, in tincidunt metus quam in ipsum.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Suspendisse potenti. Integer eget diam eu lectus efficitur viverra a non nulla. Proin fermentum, erat vel interdum cursus, ex orci aliquam nunc, et aliquam sapien felis non elit. Donec fringilla, nisl et elementum faucibus, elit urna laoreet nulla, in tincidunt metus quam in ipsum.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Suspendisse potenti. Integer eget diam eu lectus efficitur viverra a non nulla. Proin fermentum, erat vel interdum cursus, ex orci aliquam nunc, et aliquam sapien felis non elit. Donec fringilla, nisl et elementum faucibus, elit urna laoreet nulla, in tincidunt metus quam in ipsum.

                </p>
            </div>
            <button class="like-button" data-obra-id="{{ obra.id_obra }}" onclick="toggleLike(this)">
                <img 
                    id="like-icon-{{ obra.id_obra }}" 
                    alt="Me Gusta"
                    {% if is_liked %}
                        src="{% static 'imagenes/Corazon_Rojo.png' %}"  
                    {% else %}
                        src="{% static 'imagenes/Corazon.png' %}"  
                    {% endif %}>
            </button>
            <!-- Contador de "Me gusta" -->
            <p id="like-count-{{ obra.id_obra }}">Me gusta: {{ obra.num_meGustas }}</p>

            
        </aside>


        <!-- Large image display area -->
        <div class="pictures">
            <img src="{% static 'imagenes/default.jpg' %}" id="selected-image">
        </div>

        <!-- Carousel for artworks -->
        <section class="carousel">
            <div class="carousel-container">
                <div class="obra-img-container">
                    <img src="{{ obra.image_path }}" alt="{{ obra.nombre }}" class="obra-img" 
                            onmouseover="showImage('{{ obra.image_path }}')">
                    <div class="obra-name">{{ o.nombre }}</div>
                </div>
            </div>
        </section>
    </main>

    <script>
        function showImage(imagePath) {
            document.getElementById('selected-image').src = imagePath;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/meGusta.js' %}"></script>
</body>
</html>
