{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="{% static 'estilos/styles.css' %}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <img src="{% static 'imagenes/Logo.png' %}" alt="Inicio" class="home-icon">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar..." />
            <button>🔍</button>
        </div>
        <div class="header-icons">
            <img src="{% static 'imagenes/Corazon.png' %}" alt="Favoritos" />
            <img src="{% static 'imagenes/notificaciones.png' %}" alt="Notificaciones" />
        </div>
    </header>

    <!-- Main content -->
    <main>
        <!-- Categoría 1: Artistas -->
        <section class="carousel">
            <h2>Artistas</h2>
            <div class="carousel-container">
                <div class="carousel-track">
                    {% for artista in artistas %}
                    <a href="{% url 'detalle_artista' nombre=artista.nombre %}">
                        <img src="{{ artista.image_path }}" alt="{{ artista.nombre }}">
                    </a>                    
                    {% endfor %}
                </div>
            </div>
        </section>
        


        <!-- Categoría 2: Movimientos -->
        <section class="carousel">
            <h2>Movimientos</h2>
            <div class="carousel-container">
                <div class="carousel-track">
                    <img src="{% static 'imagenes/Movimientos/barroco.jpg' %}" alt="Barroco">
                    <img src="{% static 'imagenes/Movimientos/cubismo.webp' %}" alt="Cubismo">
                    <img src="{% static 'imagenes/Movimientos/renacimiento.jpg' %}" alt="Renacimiento">
                    <img src="{% static 'imagenes/Movimientos/surrealismo.webp' %}" alt="Surrealismo">
                    <img src="{% static 'imagenes/Movimientos/ukiyo-e.jpg' %}" alt="Ukiyo-e">
                </div>
            </div>
        </section>

        <!-- Categoría 3: Museos -->
        <section class="carousel">
            <h2>Museos</h2>
            <div class="carousel-container">
                <div class="carousel-track">
                    <img src="{% static 'imagenes/Museos/Louvre/Logo.jpg' %}" alt="Louvre">
                    <img src="{% static 'imagenes/Museos/Prado/Logo.png' %}" alt="Prado">
                    <img src="{% static 'imagenes/Museos/MET/Logo.webp' %}" alt="MET">
                    <img src="{% static 'imagenes/Museos/Uffizi/Logo.jpg' %}" alt="Uffi">
                    <img src="{% static 'imagenes/Museos/Orsay/Logo.png' %}" alt="Orsay">
                </div>
            </div>
        </section>
    </main>
</body>
</html>
