{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'estilos/estiloLogin.css' %}">
</head>
<body>
  <div class="wrapper">
    <form action="{% url 'registro' %}" method="POST">
        {% csrf_token %}
      <h2>Registro</h2>
        <div class="input-field">
        <input type="text" name="username" required>
        <label>Introduce tu usuario</label>
      </div>
      <div class="input-field">
        <input type="email" name="email" required>
        <label>Introduce tu email</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" required>
        <label>Introduce tu contraseña</label>
      </div>
      {% if messages %}
      <div class="error-messages">
        {% for message in messages %}
        <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
      <button type="submit">Registrarse</button>
      <div class="register">
        <p>¿Ya tienes una cuenta?<a href="{% url 'login' %}">Iniciar sesión</a></p>
    </div>
    </form>
  </div>
</body>
</html>