/* Estilos generales */
body {
    background-color: #1a1a1d;
    color: #e6e6e6;
    font-family: 'Playfair Display';
    margin: 0;
    overflow-x: hidden;
}

/* Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #2b2b2e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo web */
.header .logo .home-icon {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

/* Barra de búsqueda */
.searching-tool {
    flex-grow: 1; /* Permite que ocupe el máximo espacio disponible */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    font-size: 20px; /* Aumenta el tamaño del texto del select */
}

.searching-tool select {
    width: 60%; /* Hace que el selector ocupe el 60% del espacio del contenedor */
    padding: 10px; /* Aumenta el tamaño del selector */
    font-size: 1.2rem; /* Aumenta el tamaño del texto dentro del select */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid #4a4a4e; /* Borde del select */
    background-color: #2b2b2e; /* Color de fondo del selector */
    color: white; /* Color del texto */
    transition: all 0.3s ease; /* Transición suave en el hover */
}

.searching-tool select:hover {
    background-color: #4a4a4e; /* Cambia el color de fondo al pasar el ratón */
    border-color: #616165; /* Cambia el borde al pasar el ratón */
}


/* Iconos favoritos y notificaciones */
.header-icons img {
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    transition: transform 0.3s;
}

.header-icons img:hover {
    transform: scale(1.1);
}

/* Contenido principal */
main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

/* Aside con información del artista */
.artist-info {
    width: 40%;
    background-color: rgba(43, 43, 46, 0.7);
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 100;
}

.artist-container h1 {
    font-weight: 600;
    font-size: 48px;
    color: #a0c4ff;
    margin-bottom: 15px;
}
.artist-container h2 {
    font-size: 22px;
    color: #a0c4ff;
    margin-bottom: 10px;
}
.artist-container p {
    font-size: 16px;
    color: #ccc;
    line-height: 1.6;
}

/* Área de visualización en grande de la imagen seleccionada */
.pictures {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.pictures img {
    width: 100%;
    position: fixed;
    object-fit: contain;
}

/* Carrusel de obras */
.carousel {
    width: fit-content; 
    max-width: 40%; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(43, 43, 46, 0.7);
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    z-index: 100;
}

.carousel h2 {
    text-align: center;
    text-transform: uppercase;
}

.carousel-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/* Oculta scrollbar */
.carousel-container::-webkit-scrollbar {
    display: none; 
}

.carousel-container img {
    width: 170px;
    height: 214px;
    border-radius: 30px;
    box-shadow: 15px 15px 30px rgb(25, 25, 25);
    object-fit: cover;
    transition: transform 0.5s;

}

.carousel-container img:hover {
    transform: scale(1.05);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}





